<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />

    <link
      href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      rel="stylesheet"
    />

    <title>Todo App</title>
  </head>

  <body>
    <div id="root">
      <div class="container-md mt-5">
        <div class="app">
          <section
            class="app__header header-app d-flex flex-nowrap justify-content-between align-items-center mb-3"
          >
            <h1 class="header-app__title p-0 m-0">Todo List</h1>
            <p class="header-app__lead lead-header-app js-lead p-0 m-0">
              <em
                ><span class="lead-header-app__accent lead-header-app__accent--active"><strong>0</strong></span> more to do,
                <span class="lead-header-app__accent lead-header-app__accent--done"><strong>0</strong></span> done</em
              >
            </p>
          </section>
          <div class="app__filter filter-app d-flex flex-nowrap mb-3">
            <form
              class="filter-app__search d-flex flex-row justify-content-between align-items-center w-100 mr-2"
            >
              <input
                class="filter-app__search-input form-control d-flex flex-grow-1 border-secondary"
                name="search"
                type="text"
                placeholder="type smth to start searching…"
                autocomplete="off"
              />
            </form>
            <div
              class="filter-app__categories btn-group d-flex ml-auto"
              role="group"
            >
              <button
                class="filter-app__category filter-app__category--all btn btn-outline-secondary active"
              >
                All
              </button>
              <button
                class="filter-app__category filter-app__category--is-active btn btn-outline-secondary"
              >
                Active
              </button>
              <button
                class="filter-app__category filter-app__category--is-done btn btn-outline-secondary"
              >
                Done
              </button>
            </div>
          </div>

          <div
            class="app__todo-list todo-list-app js-list d-flex justify-content-center align-items-center mb-3"
          ></div>

          <form class="app__add-item add-item-app">
            <div class="input-group">
              <input
                class="add-item-app__input form-control d-flex flex-grow-1 border-secondary"
                name="new-list-item"
                type="text"
                placeholder="What needs to be done?"
                autocomplete="off"
              />
              <div class="input-group-append">
                <button
                  class="add-item-app__submit btn btn-outline-secondary"
                  type="submit"
                >
                  Add
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
