@import 'base/normalize';
@import 'base/vendors';
@import 'base/vars';
@import 'base/mixins';
@import 'base/fonts';
@import 'base/common';

.is-done {
  text-decoration: line-through;
}

.is-important {
  font-weight: bold;
}

.is-hidden {
  display: none !important;
}

/* Components */
